.container {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 6vh auto 0;
  width: 70%;
  min-width: 400px;
  text-align: center;
}

.form {
width: 80%;
  margin-left: 10%;
  padding: 1%;
}

@media screen and (max-width: 680px) {
  .container {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 6vh auto 0;
    width: 100%;
    min-width: 400px;
    text-align: center;
  }

  .form {
    width: 80%;
    margin-left: 10%;
    padding: 1%;
  }
}
