* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.container{
  margin: 0 auto;
  max-width: 90vw;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr 110px;

  .content{
    background-color: white;
  }
}

