.container {
  margin: 40px auto;
  width: 80%;
}

.linksBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;

  a {
    text-decoration: none;
    color: #212121;
    transition: color linear .4s;
  }

  a:hover {
    color: #cecaca;
  }
}

@media screen and (max-width: 680px) {
  .linksBlock {
    grid-template-columns: 100%;
  }
}