.navContainer {
  text-align: center;
  //border: 1px solid gray;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  .logoAndLoginContainer {
    display: grid;
    grid-template-columns: 1fr 80px;
    height: 120px;

    .logo {
      margin-left: 120px;
      margin-top: 10px;
      text-align: center;
    }

    .logo img {
      height: 100px;
    }
  }

  .navButtonsContainer {
    display: flex;
    justify-content: center;
  }

  &:after {
    text-align: center;
    display: block;
    content: "";
    width: 90%;
    background-color: #8e8e8e;
    height: 1px;
    margin-left: 5%;
    margin-top: 40px;
  }

  .button {
    a {
      text-decoration: none;
    }
  }

  .authButton {
    margin: 20px;
  }
}