.container {
  margin: 0 auto 40px;
  width: 100%;
  z-index: 2;
}

.portal {
  z-index: 1;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.linksBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
}

.link {
  margin: 1%;
  cursor: pointer;
}

.link img {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  &:hover {
    opacity: .7;
  }
}

.linkText {
  text-align: center;
}

.linkText a {
  text-decoration: none;
  color: #212121;
}

.linkText a:hover {
  color: gray;
}

.empty {
  text-align: center;
}

.deletePhotoButton {
  width: 1.5%;
  margin: 0.5%;
  position: absolute;
  text-align: left;
  z-index: 2;


  img {
    box-shadow: none;
  }
}

@media screen and (max-width: 680px) {
  .container {
    margin: 0 auto 0;

    &:after {
      text-align: center;
      display: block;
      content: "";
      width: 100%;
      background-color: #8e8e8e;
      height: 1px;
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .title {
    margin-top: 30px;
    margin-bottom: 10px;

    &:before {
      text-align: center;
      display: block;
      content: "";
      width: 100%;
      background-color: #8e8e8e;
      height: 1px;
      margin-left: 0;
      margin-top: 50px;
    }
  }

  .linksBlock {
    display: block;
  }

  .link {
    margin-top: 1vh;
    cursor: pointer;
  }

  .link img {
    &:hover {
      opacity: 1;
    }
  }

  .deletePhotoButton {
    width: 4.5%;
  }
}

