.container {
  font-size: 0.8em;
}


.btn {
  cursor: pointer;
  vertical-align: center;
   color: #232323;
  text-decoration: none;
  transition: color 0.4s linear;
}

.btn span:hover {
  color: #7d4d14;
}

.btn:hover {
  color: #8e8e8e;
}

.btn span.activeLink {
  color: #959595;
}