.link {
  cursor: pointer;
}

.link img{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.link img:hover{
  opacity: .7;
}

.linkText {
  text-align: center;
}

.linkText a{
  text-decoration: none;
  color: #212121;
}

.linkText a:hover {
  color: gray;
}